.stock_container{
  max-width: 1024px;
  margin: auto;
  padding-top: 10px;
}

.stock_block{
  width: calc(50% - 12px);
  background-size: cover;
  background: #fff5f5;
  display: inline-block;
  margin: 5px;
  /* border: 1px solid rgba(255, 0, 0, 0.16); */
  border-radius: 3px;
  box-shadow: 1px 1px 0px 1px #ff00bf;
  position: relative;
  height: 115px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.bigBonus{
  width: calc(100% - 10px);
  height: 246px;
}

.stock_block:hover .promo{
  opacity: 1;
  transition: 0.5s;
}

.stock_name{
  font-size: 55px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 22px;
  z-index: 10;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 1px #000000;
}

.stock_name span{
  font-size: 14px;
  position: absolute;
  top: 3px;
  right: 0;
  color: white;
  z-index: 10;
  text-shadow: 1px 1px 1px #000000;
}

.stock_name h2{
  margin: 0;
  text-shadow: 1px 1px 12px black;
  color: white;
  z-index: 10;
  text-shadow: 1px 1px 1px #000000;
}

.timeOfUse_stock{
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  right: 12px;
  font-size: 30px;
  z-index: 10;
  color: white;
  text-shadow: 1px 1px 1px #000000;
}

.timeOfUse_stock b{
  text-shadow: 1px 1px 1px #000000;
  z-index: 10;
}

.timeOfUse_stock time{
  position: absolute;
  right: 0;
  font-size: 20px;
  top: -20px;
  z-index: 10;
}

.promo{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.48);
  z-index: 1;
  opacity: 0;
}

.details_stock{
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.27);
  color: white;
  z-index: 10;
}

.details{
  display: none;
}

.bant{
  background-image: url(http://pngimg.com/uploads/bow/bow_PNG10095.png);
  position: absolute;
  width: 124px;
  height: 100px;
  background-size: contain;
  z-index: 10;
  transform: rotate(-45deg);
  left: -40px;
  top: -25px;
}

.bigBonus .stock_name{
  left: 50%;
  transform: translate(-50%, -50%);
}

.bigBonus .stock_name span{
    font-size: 19px;
}

.stock{
  background: #ffffff;
  width: 100%;
  padding-top: 30px;
}

.Promotion_Rules{
padding-bottom: 25px;
}

.line{
  max-width: 1024px;
      margin: auto;
      width: 100%;
      font-size: 19px;
}

.center{
font-size: 24px;
}
.pod{
    padding-left: 16px;
}

.blog-slider {
 width: 95%;
 position: relative;
 max-width: 800px;
 margin: auto;
 padding: 25px;
 height: 400px;
 transition: all .3s;
}
@media screen and (max-width: 992px) {
 .blog-slider {
   max-width: 680px;
   height: 400px;
 }
}
@media screen and (max-width: 768px) {
 .blog-slider {
   min-height: 500px;
   height: auto;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
 .blog-slider {
   height: 350px;
 }
}
.blog-slider__item {
 display: flex;
 align-items: center;
}
@media screen and (max-width: 768px) {
 .blog-slider__item {
   flex-direction: column;
 }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
 opacity: 1;
 transition-delay: .3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
 opacity: 1;
 transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
 transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
 transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
 transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
 transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
 transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
 transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
 transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
 transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
 transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
 transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
 transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
 transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
 transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
 transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
 transition-delay: 1.7s;
}
.blog-slider__img {
 width: 300px;
 flex-shrink: 0;
 height: 300px;
 background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
 box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
 border-radius: 0px;
 transform: translateX(-80px);
 overflow: hidden;
 border: 2px solid pink;
 box-shadow: -5px -5px 0px -3px white, -5px -5px 0px 0px rgba(255, 0, 107, 0.4);
 /* outline: 2px solid white; */
 border: 1px solid #ff99c3;
}
.blog-slider__img:after {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 /* background-image: linear-gradient(145deg, #ffaa6e 33%, #e0401ca8 62%); */
 /* border-radius: 20px; */
 opacity: 0.8;
}
.blog-slider__img img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 display: block;
 opacity: 0;
 /* border-radius: 20px; */
 transition: all .3s;
}
@media screen and (max-width: 768px) {
 .blog-slider__img {
   transform: translateY(-50%);
   width: 90%;
 }
}
@media screen and (max-width: 576px) {
 .blog-slider__img {
   width: 95%;
 }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
 .blog-slider__img {
   height: 270px;
 }
}
.blog-slider__content {
 padding-right: 25px;
}
@media screen and (max-width: 768px) {
 .blog-slider__content {
   margin-top: -80px;
   text-align: center;
   padding: 0 30px;
 }
}
@media screen and (max-width: 576px) {
 .blog-slider__content {
   padding: 0;
 }
}
.blog-slider__content > * {
 opacity: 0;
 transform: translateY(25px);
 transition: all .4s;
}
.blog-slider__code {
 color: #7b7992;
 margin-bottom: 15px;
 display: block;
 font-weight: 500;
}
.blog-slider__title {
 font-size: 24px;
 font-weight: 700;
 color: #656565;
 margin-bottom: 20px;
}
.blog-slider__text {
 color: #4e4a67;
 margin-bottom: 30px;
 line-height: 1.5em;
}
.blog-slider__button {
 display: inline-flex;
 background-image: linear-gradient(147deg, #fe3939 0%, #fd3838 74%);
 padding: 15px 35px;
 border-radius: 5px;
 color: #fff;
 cursor: pointer;
 text-decoration: none;
 font-weight: 500;
 justify-content: center;
 text-align: center;
 letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
 .blog-slider__button {
   width: 100%;
 }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
 bottom: 10px;
 left: 0;
 width: 100%;
}
.blog-slider__pagination {
 position: absolute;
 z-index: 21;
 right: 20px;
 width: 11px !important;
 text-align: center;
 left: auto !important;
 top: 50%;
 bottom: auto !important;
 transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
 .blog-slider__pagination {
   transform: translateX(-50%);
   left: 50% !important;
   top: 205px;
   width: 100% !important;
   display: flex;
   justify-content: center;
   align-items: center;
 }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
 margin: 8px 0;
}
@media screen and (max-width: 768px) {
 .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 0 5px;
 }
}
.blog-slider__pagination .swiper-pagination-bullet {
 width: 11px;
 height: 11px;
 display: block;
 border-radius: 10px;
 background: #062744;
 opacity: 0.2;
 transition: all .3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
 opacity: 1;
 background: #fd0d67;
 height: 30px;
}
@media screen and (max-width: 768px) {
 .blog-slider__pagination .swiper-pagination-bullet-active {
   height: 11px;
   width: 30px;
 }
}

.swiper-button-next, .swiper-button-prev {
   top: auto;
   bottom: 55px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
   right: 70px;
   left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
   right: 70px;
   left: auto;
}



/****/
@media screen and (max-width: 800px) {
  .mainTitleDLG, .mainTextDLG {
    padding-bottom: 0px;
  }

  .Promotion_Rules {
    padding: 13px;
    padding-bottom: 25px;
  }
  .timeOfUse_stock {
    top: auto;
    bottom: 10px;
    right: 6px;
    font-size: 18px;
  }
  .stock_name {
    font-size: 40px;
    top: 40px;
    transform: translate(0, -50%);
    left: 12px;
  }
  .bigBonus .stock_name {
    left: 50%;
    transform: translate(-50%, 0%);
    line-height: 31px;
    text-align: center;
  }
  .bigBonus .stock_name span {
    font-size: 43px;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);
    bottom: -98px;
    top: auto;
    text-shadow: 0px 0px 20px wheat;
    /* width: 100%; */
    background: #282932;
  }

  .stock_block {
    width: calc(100% - 10px);
  }
.siteMap {
    height: auto;
}
.mapmap {
    height: auto;
}
.LBB, .CBB, .RBB {
    width: 100%;
    display: inline-block;
}
.RBB {
    float: initial;
    text-align: center;
}
.LBB {
    display: none;
}
.mainTextDLG{
  font-size: 16px;
}
.punktMapMenu {
    width: 48%;
    display: inherit;
    text-align: center;
    border-bottom:0;
}
.adressLineMap {
    text-align: center;
}
.container {
    max-width: 800px;
    min-width: 0;
    margin: 0 auto;
}
.container .column {
    width: 100%;
    padding: 0 8px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

}
