<div class="SOCIALS_BLOCK">
	<a href="https://www.instagram.com/ladyman_store/" target="_blank"><div class="SOCIAL_CLOCK_BTN"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
	<a href="viber://public?id=<URI>" target="_blank"><div class="SOCIAL_CLOCK_BTN"><i class="fa fa-whatsapp" aria-hidden="true"></i></div></a>
	<a href="" target="_blank"><div class="SOCIAL_CLOCK_BTN"><i class="fa fa-vk" aria-hidden="true"></i></div></a>
</div>